<button {{action 'showMap'}} class="btn btn-primary display-map">Find a Daycare</button>



<div class="row">
  



  <div id="search-results">
    <span class=search-result></span>
  </div>

  <div class="map-display"></div>
</div>
